{% requireAdmin %}

{% extends "_layouts/cp" %}
{% set title = report.id ? "Edit report"|t : "Create report"|t %}

{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "Reports"|t, url: url('reports') }
] %}

{% includeJsResource 'reports/js/codemirror/lib/codemirror.js' %}
{% includeJsResource 'reports/js/codemirror/addon/mode/overlay.js' %}
{% includeJsResource 'reports/js/codemirror/mode/twig/twig.js' %}
{% includeJsResource 'reports/js/codemirror/mode/htmlmixed/htmlmixed.js' %}
{% includeCssResource 'reports/js/codemirror/lib/codemirror.css' %}
{% includeCssResource 'reports/css/Reports_Editor.css' %}
{% includeJsResource 'reports/js/Reports_Editor.js' %}

{% block content %}
    <form action="" method="post">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="reports/save"/>
        {% if report.id %}
            <input type="hidden" name="id" value="{{ report.id }}"/>
        {% endif %}

        {{ forms.textField({
            first: true,
            label: "Name"|t,
            instructions: "What this entry type will be called in the CP."|t,
            id: 'name',
            name: 'name',
            value: report.name,
            errors: report.getErrors('name'),
            autofocus: true,
            required: true
        }) }}

        {{ forms.textField({
            label: "Handle"|t,
            instructions: "How you’ll refer to this entry type in the templates."|t,
            id: 'handle',
            class: 'code',
            name: 'handle',
            value: report.handle,
            errors: report.getErrors('handle'),
            required: true
        }) }}


        {{ forms.textareaField({
            label: "Content"|t,
            instructions: "The twig code"|t,
            id: 'content',
            class: 'reports__code-editor js-reportsEditor',
            name: 'content',
            value: report.content,
            errors: report.getErrors('content'),
            rows: 20,
            required: true
        }) }}

        <button class="submit btn">{{ "Save report"|t }}</button>
    </form>
{% endblock %}
